@import url('https://fonts.googleapis.com/css?family=Raleway');

:root{
	--piano-black: #363636;
	--piano-white: #f9fffc;
	--piano-pressed: rgb(228, 106, 153);
	--piano-hover: rgb(223, 138, 170);
    --background-color: rgb(255, 117, 86);
}
