html{
	background-color: var(--background-color);
	color: var(--piano-white);
	font-family: 'Raleway', helvetica;
	font-weight: bold;
}

#body{
	margin: auto;
    width: 50%;
	padding: 10px;
	margin-top: 25px;
}

.chord{
	color: var(--piano-white);
	font-weight: bold;
	text-align: center;
	font-size: 50px;
	height: 20%;
	width: 100%;
	text-align: center;
}

#keyboard{
	text-align: center;
    display: flex;
	width: 400px;
	position: relative;
	margin: auto;
}

.key{
	position: relative;
	cursor: pointer;
	
	/* border color */
	border: solid 2px var(--piano-black);

	/* rounded keys */
	border-radius: 0 0 7px 7px;

	
}
.key:hover{
	background-color: var(--piano-hover) !important;
}
	

.key.white{
	background-color: var(--piano-white);
	color: var(--piano-black);

	height: 180px;
	width: 70px;
	z-index: 1;
}

.key.black{
	background-color: var(--piano-black);
	color: var(--piano-white);

	/* border color */
	border: solid 3px var(--piano-black);

	height: 100px;
	width: 50px;
	margin: 0px -22px;
	
	z-index: 2;
}

.pressed{
	background-color: var(--piano-pressed) !important;
}

.left-corner{
	border-radius: 10px 0 7px 7px;
}

.right-corner{
	border-radius: 0 10px 7px 7px;
}