html{
	background-color: #0077be;
	color: white;
	font-family: helvetica;
}

.chord{
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 50px;

	background-color: darkseagreen;
	height: 20%;
	width: 100%;
}

