@import url('https://fonts.googleapis.com/css?family=Raleway');

:root{
	--piano-black: #363636;
	--piano-white: #f9fffc;
	--piano-pressed: rgb(206, 100, 140);
	--background-color: rgb(255, 117, 86);
}

 
html{
	background-color: var(--background-color);
	color: var(--piano-white);
	font-family: 'Raleway', helvetica;
	font-weight: bold;
}

#body{
	margin: auto;
    width: 50%;
	padding: 10px;
}

.chord{
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 50px;
	height: 20%;
	width: 100%;
	text-align: center;
}

